
/* ALL */
body {
    font-family: 'Roboto', sans-serif !important;
    font-display: swap;
    background-color: #272727;
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/escheresque_ste.png");
}

/* HEADER */
.navLinks {
    color: #14a76c !important;
    padding: 15px !important;
}
.navLinks:hover {
    color: #ffe400 !important; 
    text-decoration: underline !important;

}
#nameHead {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 54px;
    color: #ff652f;
    font-display: swap;
}

.techHead {
    color:#14a76c
}

/* ABOUT */
#aboutContainer {
    color: gainsboro;
}

#aboutImg {
    width: 250px;
    padding: 2px;
    border-radius: 180px;
    border: 5px double #ffe400;
    margin: 20px;
}
.skillList {
    background: #272727;
    margin: 0 auto;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    color: gainsboro;
}

/* PORTFOLIO */
#portHeader {
    font-family: 'Amatic SC', cursive; 
    text-align: center;
    font-size: 48px;
    font-display: swap;
}
.miniImg {
    height: 200px;
    border: 2px solid #272727 !important;
    margin-bottom: 20px;
}
.miniImg:hover {
    filter: drop-shadow(8px 8px 10px #ff652f);
}

/* JUMBOTRON */
.jumbotron {
    background: #272727;
    color: gainsboro;
}
.portImg {
    width: 40vw;
    margin: 0 auto;
    border: 2px solid #ff652f;
    margin: 10px;
    padding: 1px;
}
.portLink {
    color: #14a76c;
}
.portLink:hover {
    color: #ffe400;
}

/* CONTACT */
#contactHead{
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-display: swap;
    color: #ffe400;
}
form {
    background-color:#272727;
    border-radius: 10px;
    padding: 15px;
}
label {
    color: gainsboro;
    text-align: left;
    font-weight: 700;
}
input , textarea{
    width: 40vw;
    background-color: gainsboro;
    border: 2px solid gainsboro;
}
.cFormBtn {
    background-color: #14a76c !important;
    color: gainsboro;
    border: 2px solid #14a76c !important;
    font-weight: 800 !important;
}
.contactIcon, .cLink, .contactLink {
    text-decoration: none !important;
    color: #ff652f;
}
.contactLink:hover, .cLink:hover, .contactBtn:hover .cLink{
    color: #ffe400 !important;
}
.contactLink:hover, .cLink:hover, .contactBtn:hover .contactIcon{
    color: #ffe400 !important;
}
.contactLinks {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
.cLink {
    font-family: 'Roboto', sans-serif !important;
    font-size: 24px;
    padding-bottom: 50px;
    font-display: swap;
}

/* APPLIES TO ALL THAT NEED ADDITIONAL STYLING ON SMALLER SCREENS */
@media only screen and (max-width: 580px) {
    #aboutImg {
        position: relative;
        right: 5%;
    }
    #nameHead {
        text-align: left;
        padding: 0px;
        margin: 0px;
    }
    .portImg {
        width: 80vw;
    }
}